@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	background-color: #F5F5F9;
	/*background: url('/images/bg_gradient.png');*/
	color: #181818;
	font-family: "Lato", Calibri, Candara, Arial, sans-serif;
}

body {
	/*background-color: #FDFDFF;*/
	width: 1010px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	padding-bottom: 30px;
	margin-bottom: -15px;
}

a {
	text-decoration: none;
	outline: none;
	color: #839FE3;
}

a > img {
	outline: none;
}

img {
	border: 0;
}

pre {
	resize: both;
}

code {
	word-wrap: normal !important;
	resize: none;
	background-color: #FCFCDC;
}

pre > code {
	background-color: inherit;
}

#container {
	margin-top: 15px;
}

#navbar {
	clear: both;
	position: absolute;
	left: 0;
	width: 100%;
	padding-top: 15px;
	height: 50px;
	background: #222;
	/*background: url('/images/navbar_bg.png') 100% 100%;*/
	color: #839FE3;
	box-shadow: 0 0 5px 2px #222;
	z-index: 99999;
}

#title {
	font-size: 26pt;
	padding-top: 4px;
	padding-left: 50px;
	white-space: nowrap;
	float: left;
	text-align: left;
	width: 33.33333%;
}

#tagline {
	font-family: "Courier New", monospace;
	padding-top: 16px;
	margin-left: -50px;
	white-space: nowrap;
	/*overflow: hidden;*/
	float: left;
	text-align: center;
	width: 33.33333%;
}

#tagline::after {
	float: left;
	text-align: right;
	width: 33.33333%;
}

#nav-buttons {
	float: right;
	padding-right: 10px;
	margin-top: 14px;
}
 
#nav-images {
	position: absolute;
	top: 10px;
	margin-top: 12px;
}

#nav-images > .navbutton {
	padding-top: 25px;
	padding-bottom: 4px;
}

.navbutton {
	height: 100%;
	padding-top: 12px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.navbutton:hover {
	background-color: #000;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

#main-content {
	padding-top: 80px;
}

#feed {
	float: left;
	width: 650px;
	padding-left: 20px;
	padding-right: 30px;
}

#sidebar {
	float: left;
	width: 290px;
	/*background-color: white;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 16px;
}

#footer {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

#likeButton {
	float: left;
	margin-top: 10px;
}

#likeCount {
	float: left;
	margin-top: 7px;
}

.postcontrol {
	float: right;
}

#pages {
	padding-bottom: 5px;
}

.massive {
	margin-top: 125px;
	font-size: 150pt;
	color: #839FE3;
	text-align: center;
}

.heading {
	color: #7777FF;
	font-size: 18pt;
	margin-top: 18px;
	margin-bottom: 4px;
}

#sidebar > div {
	padding-bottom: 12px;
}

article {
	line-height: 1.4em;
}

article > header > a {
	color: #7777FF !important;
}

#sidebar ul {
	margin-left: -15px;
}

#sidebar ul ul {
	margin-left: -25px;
}

.sig {
	padding-bottom: 6px;
	color: #7777FF;
}

#snowToggle {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 5px;
	margin-top: 50px;
	padding-top: 3px;
	font-size: 10pt;
}

code, pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#alert {
	color: #E33;
	background-color: #DDD;
	padding-top: 25px;
	margin-top: -10px;
	padding-bottom: 10px;
	margin-bottom: 9px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	z-index: 9999999;
	position: relative;
}

.divider {
	width: pagewidth;
	size: 1;
	color: black;
}

#comments {
	clear: both;
	margin-top: 50px
}

.comment {
	margin-top: 15px;
	background: #F0F0FF;
	padding: 3px;
}

.commentheader {
	margin-bottom: 5px;
}

.commentauthor {
	color: #7777FF;
}

.commentcontrol {
	margin-top: 4px;
}

#all-recent {
	display: none;
}

#recent-list {
	margin-bottom: 4px;
}
